img {
      border-radius: 25px;
}

table, th, td  {
     border: 1px solid black;
     border-collapse: collapse;
     
}

th {
     text-align: center;
}

th, td  {
     padding: 20px;
     text-align: center;
}

caption {
     text-align: left;
     padding:10px;
}


button {
     width: 200px;
     
}

 